<!--<mat-sidenav-container>
  <mat-sidenav #sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      ASDAlexey Material
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>-->
<!--
<mat-toolbar color="accent" class="toolbar__primary" [class.mat-elevation-z2]="applyShadow">
  <span *ngIf="popText">Header toolbar</span>
</mat-toolbar>
<mat-toolbar color="accent" class="toolbar__secondary">
  <span *ngIf="!popText">Material toolbars</span>
</mat-toolbar>


<div class="lesson-component">
  <mat-toolbar>Basic toolbar</mat-toolbar>
  <mat-toolbar color="primary">Primary</mat-toolbar>
  <mat-toolbar color="accent">Accent</mat-toolbar>
  <mat-toolbar color="warn">Warn</mat-toolbar>

  <mat-toolbar color="primary">
    <mat-toolbar-row>Row 1</mat-toolbar-row>
    <mat-toolbar-row>Row 2</mat-toolbar-row>
    <mat-toolbar-row>Row 3</mat-toolbar-row>
  </mat-toolbar>
</div>-->

<!--<h2>Basic icons</h2>
<mat-icon>check_circle</mat-icon>
<mat-icon>list</mat-icon>
<mat-icon>close</mat-icon>

<h2>Icon color</h2>
<mat-icon color="primary">check_circle</mat-icon>
<mat-icon color="accent">list</mat-icon>
<mat-icon color="warn">close</mat-icon>

<h2>Buttons</h2>
<button mat-icon-button>
  <mat-icon color="primary">check_circle</mat-icon>
</button>
<mat-icon color="accent">list</mat-icon>
<mat-icon color="warn">close</mat-icon>

<h2>FAB Buttons</h2>
<button mat-fab color="primary">
  <mat-icon>check_circle</mat-icon>
</button>
<button mat-fab color="accent">
  <mat-icon>list</mat-icon>
</button>
<button mat-fab color="warn">
  <mat-icon>close</mat-icon>
</button>

<h2>mini FAB Buttons</h2>
<button mat-mini-fab color="primary">
  <mat-icon svgIcon="podcast"></mat-icon>
</button>
<button mat-mini-fab color="accent">
  <mat-icon>list</mat-icon>
</button>
<button mat-mini-fab color="warn">
  <mat-icon>close</mat-icon>
</button>-->

<h2>Basic input</h2>
<!--<mat-form-field floatLabel="always">-->
<!--<mat-form-field>
  <input
    type="text"
    placeholder="Basic input"
    matInput
  >
  <mat-hint align="end">1 special character required.</mat-hint>
</mat-form-field>-->
<!--<mat-form-field>
  <input
    type="password"
    #password
    placeholder="Basic input"
    matInput
  >
  <mat-hint align="start">1 special character required.</mat-hint>
  <mat-hint align="end">{{ password.value.length }}/16</mat-hint>
</mat-form-field>-->

<form autocomplete="off">
  <mat-form-field>
    <input
      name="pwd"
      autocomplete="new-password"
      type="text"
      #passwordInput="ngModel"
      [(ngModel)]="password"
      [errorStateMatcher]="customErrorStateMatcher"
      placeholder="Basic input"
      matInput
      minlength="6"
      required
    >
    <mat-error *ngIf="passwordInput.errors?.required">
      This field is required
    </mat-error>
    <mat-error *ngIf="passwordInput.errors?.minlength">
      6 characters required
    </mat-error>
    <mat-hint align="start">Password must be at least 6 characters</mat-hint>
    <mat-hint align="end">{{ password?.length }}/16</mat-hint>
  </mat-form-field>
</form>
